:root {
    --primary: #2ecc71;
    --danger: #e74c3c;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container { width: 400px; background: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 1px 3px rgba(0,0,0,0.12); }

.list { list-style-type: none; padding: 0; margin-bottom: 40px; }

.list li {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
}

.list li.plus { border-right: 5px solid var(--primary); }
.list li.minus { border-right: 5px solid var(--danger); }

.btn {
    cursor: pointer;
    background-color: #9c88ff;
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
}